@model ProjetBHLeasing.Models.Utilisateur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Utilisateur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.abreviation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.abreviation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_user_responsable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_user_responsable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.b_modifier_ptf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.b_modifier_ptf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_derniers_acces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_derniers_acces)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_user_modif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_user_modif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_user_creat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_user_creat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_user_modif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_user_modif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.matricule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.matricule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rib)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rib)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_departement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_departement)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_user">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
