@model ProjetBHLeasing.Models.Profil

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Profil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.b_systeme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.b_systeme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_user_modif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_user_modif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_user_creat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_user_creat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_user_modif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_user_modif)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_profil">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
